/* Footer */
.footer{
  background-color: var(--bgCta);
  padding-block: 2.5rem;
  color: var(--footerText);
  padding-inline: 5%;
}
.footer__logo{
  color: white;
  font-weight: 700;
  text-decoration: none;
}

.paragraph-m{
  padding-block: 2rem;
}
.footer__nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.footer__links{
  color: white;
  font-weight: 700;
}
.footer__links h3{
  padding-block-end: 1.5rem;
}
.footer__links .item{
  list-style: none;
}
.footer__links .item:nth-child(3){
  padding-block: 1rem;
}
.footer__links .item .link{
  color: var(--footerText);
  text-decoration: none;
  font-weight: 500;
}
.footer__links .item .link:hover{
  text-decoration: underline;
}
.footer__links .item .link:active{
  color: white;
}
.footer .me{
  text-align: center;
  margin-top: 4rem;
}
.footer .me a{
  color: white;
}
.footer .me a:hover{
  color: red;
}

@media screen and (min-width:800px) {
  .footer{
  }
  .footer__nav{
    grid-template-columns: repeat(4,1fr);
  }
  .footer .paragraph-m{
    max-width: 60rem;
  }
}
@media screen and (min-width:1200px){
  .footer{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    padding-inline: 10%;
  }
  .footer .paragraph-m{
    max-width: 40rem;
  }
  .me{
    grid-column: 1 / 3;
    
  }
}