.menu-open{
  background-image: url('../svg/bars-solid.svg');
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.menu-checkbox{
  display: none;
}
.menu-checkbox:checked ~ .header{
  position: relative;
}

.menu-checkbox:checked ~ .header .menu-open{
  background-image: url('../svg/xmark-solid.svg');
}
.menu-checkbox:checked ~ .header .navbar{
  display: flex;
  transform: translateY(0);
}
.menu-checkbox:checked ~ .header .navbar .navbar__links{
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  width: 100%;
}
.menu-checkbox:checked ~ .header .navbar .navbar__links .link{
  font-weight: 700;
}


@media screen and (min-width:800px) {
  .menu-open{
    display: none;
  }
}
